@font-face {
  font-family: "GothamMedium";
  src: local("GothamMedium"),
  url('./assets/fonts/Gotham-Font/Gotham-Black.otf');
  font-weight:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "GothamLight";
  src: local("GothamLight"),
  url('./assets/fonts/Gotham-Font/Gotham-Light.otf');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "GothamBold";
  src: local("GothamBold"),
  url('./assets/fonts/Gotham-Font/Gotham-Bold.otf');
  font-weight:bolder;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Avenir Normal";
  src: local("AvenirNormal"),
  url('./assets/fonts/Avenir/AvenirRegular.otf');
  font-weight:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Avenir Bold";
  src: local("AvenirBold"),
  url('./assets/fonts/Avenir/AvenirBold.otf');
  font-weight:bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: "GothamLight"
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "GothamBold";
}

p {
  font-family: "GothamLight";
  display: inline-block;
}

code {
  font-family: "GothamLight",
    monospace;
}
